.overlay {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    width: 100%;
    height: 100%;
  }
  
  .modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    width: 400px;
    max-width: 90%;
  }
  
  .close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 40px;
    cursor: pointer;
  }
  
  .card {
    border: 2px solid rgb(76, 195, 231);
    border-radius: 10px;
    box-shadow: 30px 0px 60px 0px rgba(148, 144, 144, 0.75);
    margin-bottom: 5px;
  }
  
  .card-body {
    padding: 10px 15px;
  }
  
  .card-title {
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 25px;
    color: rgb(6, 76, 133);
  }
  
  .card-text {
    font-size: 20px;
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 10px;
  }
  
  .btn {
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .btn-primary {
    color: #fff;
    background-color: #2e8ef5;
    border-color: #2e8ef5;
  }
  
  .btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
  }
  
  .btn-outline-primary {
    color: #007bff;
    background-color: transparent;
    border-color: #007bff;
  }
  
  .btn-outline-primary:hover {
    color: #0056b3;
    background-color: rgba(0, 123, 255, 0.1);
    border-color: #0056b3;
  }
  
  /* thêm svg fontanwes vào cạnh tên */
  .icon-svg {
    display: inline-block;
    width: 20px; /* Điều chỉnh kích thước của icon */
    height: 20px;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M164.9 24.6c-7.7-18.6-28-28.5-47.4-23.2l-88 24C12.1 30.2 0 46 0 64C0 311.4 200.6 512 448 512c18 0 33.8-12.1 38.6-29.5l24-88c5.3-19.4-4.6-39.7-23.2-47.4l-96-40c-16.3-6.8-35.2-2.1-46.3 11.6L304.7 368C234.3 334.7 177.3 277.7 144 207.3L193.3 167c13.7-11.2 18.4-30 11.6-46.3l-40-96z"/></svg>');
    background-repeat: no-repeat;
    background-size: contain;
    margin-right: 10px; /* Khoảng cách giữa icon và văn bản */
  }
  /* thêm ảnh vào cạnh tên */
  .card-title-container {
    display: flex;
    align-items: center; /* Canh chiều dọc của các phần tử con */
  }
  
  .pnj-logo {
    width: 40px; /* Điều chỉnh kích thước của logo */
    height: auto; /* Đảm bảo tỷ lệ khung hình tự động */
    margin-right: 10px; /* Khoảng cách giữa logo và tiêu đề */
    border-radius: 8px;
  }
  
  
  .close:hover{
    color: red;
  }
  